body{
   background-image: url("hero-bg.jpg");


}

.navbar2{

     width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-space: 0 8px;
    margin: auto;
}

.navbar2 .logo2{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.navbar .options{
    font-size: 9px;
    font-weight: 500;
    color: white;
padding: 0 6px;
    text-decoration: none;
    margin: 0 8px;
}
.navbar2 .options{
    display: flex;
    position: relative;
}
.navbar2 .options a{
color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
 text-align: center;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    display: flex;
}
.navbar2 .options a:hover{
    color: red;
    cursor: pointer;
}
.navbar2 .options li{
    position: relative;
    margin: 0 8px;
    list-style: none;}

}
.navbar2 .options{
    position: relative;
    display: flex;

}


.home1{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.home1 .homeplace{
width: 90%;
    height: 80vh;
margin: auto;
display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.home1 .text5{
font-size: 40px;
    ;

}
.homeplace .text6{
    font-size: 45px;

}
.homeplace .text7{
    font-size: 50px;

}
.home1 .button2{
    margin: 14px 0;
    border-radius: 16px 15px;
}
.home1 .button2 button{

    padding: 8px 16px;
    outline: none;
    border-radius: 15px;
    font-size: 40px;
font-weight: 500;
    border: 5px transparent;
background-color: white;
    cursor: pointer;
    color: black;

}